.stamp_wrap {
    margin: 0 auto;
    text-align: center;
    display: grid;
}

.stamp_item {
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
}

.stamp_item:nth-child(1) {
    height: 80px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.stamp_item:nth-child(n + 2) {
    height: 210px;
}

.stamp_item > .fes_title {
    height: 60px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #dadada;
}

.stmap_img_wrap > img {
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 10px;
}