.stamp_wrap {
    margin: 0 auto;
    height: 500px;
    background-color: #c9a9e9;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    display: grid;
}

.stamp_item {
    background-color: bisque;
}

.stamp_item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 30px;
    font-weight: bold;
}

.date {
    font-weight: bold;
    font-size: 18px;
}

.stamp_img {
}