.stamp_wrap {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 223px 223px 223px 223px 223px;
}

.stamp_item {
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
}

.stamp_item:nth-child(1) {
    height: 80px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 36px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.stamp_item .fes_title {
    height: 60px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    word-break: keep-all;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #dadada;
}

.stamp_item .fes_title:hover {
    text-decoration: underline;
    color: #3f3f3f;
    cursor: pointer;
}

.stamp_item:nth-child(n + 2) {
    height: 210px;
}

.stmap_img {
    min-width: 180px;
    max-width: 180px;
    min-height: 120px;
    max-height: 120px;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 1px #dadada;
    border-radius: 10px;
}