#main {
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 90%;
    height: 600px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;     /* Center slide text vertically */
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}