@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}

.signUpWrap {
    width: 450px;
    text-align: left;
    margin: 0 auto;
    padding-left: 60px;
}

#inputWrap {
    padding-left: 80px;
}

#title {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

.information {
    margin-top: 10px;
}

#joinBtn, .checkBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    color: var(--btn-color);
}

#joinBtn:hover, .checkBtn:hover {
    background-color: var(--btn-bg-hover);
    border: 1px solid var(--btn-bg-hover);
    color: var(--btn-color-hover);
}

.input {
    color: var(--text);
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
    outline: none;
}

#joinBtnWrap {
    text-align: center;
    margin-top: 10px;
}