.member {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member .sec_item {
    min-width: 600px;
}

.member .sec_item_content {
    gap: 20px;
}

.sec_item_content > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sec_item_content label {
    font-size: 1.6rem;
}

.btn_wrap {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.btn_wrap input {
    width: 100%;
}

.btn_wrap button {
    width: 100px;
}

#sign_up {
    display: flex;
    justify-content: center;
    align-content: center;
}

#sign_up .desc {
    font-size: 1.4rem;
}

#sign_out .sec_item_title {
    justify-content: center;
}