.star_wrap {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.star_rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
}

.star_rating input {
    display: none;
}

.star_rating label {
    -webkit-text-fill-color: transparent;     /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.23rem;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
}

.star_rating input[type=radio]:checked ~ label {
    -webkit-text-fill-color: rgb(238, 255, 0);
}

.star_rating label:hover, .star_rating label:hover ~ label {
    -webkit-text-fill-color: #fff476;
}

.star_rate {
    margin-top: 0.6rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.cur_star_wrap > p {
    font-size: 1.4rem;
    color: #fff476;
}

.selected_star {
    font-size: 2.2rem;
    font-weight: bold;
    color: #000;
    text-shadow: -1px 0px #fffb00, 1px 2px #fffb00, 1px 0px #fffb00, 0px -1px #fffb00;
}