.star_wrap {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.star_rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
}

.star_rating input {
    display: none;
}

.star_rating label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
}

.star_rating :checked~label {
    -webkit-text-fill-color: rgb(238, 255, 0);
}

.star_rating label:hover,
.star_rating label:hover~label {
    -webkit-text-fill-color: #fff476;
}

.star_rate {
    margin-top: 6px;
    font-size: 18px;
    font-weight: bold;
}

.cur_star_wrap > p {
    font-size: 14px;
    color: #fff476;
}