#review_wrap {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.full_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 2px dotted #dadada;
    padding: 25px;
}

.write_info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.full_list .write_info span:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.full_list .write_info span:nth-child(2) {
    font-size: 12px;
    color: #8b8b8b;
}

.full_list .write_info span:nth-child(3) {
    font-size: 22px;
    color: #faf61d;
    -webkit-text-stroke: 1px #000000;       /* 임의로 적용 (별 테두리)*/
}

/* 임의로 넣었음 (원래에 없던 element라서 넣었음)*/
.full_list .write_info span:nth-child(4) {
    padding-top: 2px;
    font-size: 18px;
    font-weight: bold;
}

.review_value {
    font-size: 17px;
    display: flex;
    align-items: center;        /* 임의로 적용 (span 텍스트 / 수정,삭제 버튼 수직중앙 정렬) */
    gap: 5px;
}

/* 임의로 넣었음 ()*/
.review_value span:first-child {
    max-width: 960px;   
}

/* ID값이 같지 않아서 다르게 작업함 */
.view_review_list button {
    width: 50px;
    height: 30px;
}

/* 임의로 넣었음 */
.more_view_wrap .underline:hover {
    text-decoration: underline;
}