#review_wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

#review_wrap .view_review {
    width: 1110px;
    margin-right: 30px;
    border: 2px solid #dadada;
    border-radius: 10px;
    padding: 10px;
    background-color: #fafafa;
    text-align: left;
}

#review_wrap .sec_item_title {
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--sec-border-color);
}

#review_wrap .view_review_header span:nth-child(1) {
    font-weight: bold;
    font-size: 2em;
    padding-left: 20px;
}

#review_wrap .view_review_header span:nth-child(2) {
    font-weight: bold;
    font-size: 2em;
    padding: 0 50px;
}

#review_wrap .view_review_header .btn highlight {
    display: inline-block;
    font-weight: bold;
    font-size: 2em;     
}

#review_wrap .view_review_list {
}

.full_list span:nth-child(4) {
    font-size: 22px;
    color: #faf61d;
}

#review_wrap div.view_review div.view_review_list ul li span {
    padding-right: 5px;
}