/* list style css */
#list_wrap {
    position: relative;
}

#list_wrap .festival_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 5fr 2fr;
    gap: 20px;
}

#list_wrap .search_wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    gap: 10px;
}

#list_wrap .search_wrap input[type="search"] {
    width: 100%;
    text-align: center;
}

#list_wrap .search_wrap .filter_wrap {
    width: 20%;
}

#list_wrap .festival_wrap {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: 1px solid #dadada;
    border-radius: 8px;
}

#list_wrap .festival_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
    padding: 10px;
    padding-bottom: 40px;
    height: 540px;
    text-align: center;
    overflow: auto;
    scroll-behavior: smooth;
}

#list_wrap .festival_inner img {
    position: relative;
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
}

#list_wrap .load_more {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

#list_wrap .load_more button {
    width: 100%;
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#list_wrap .map {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
}

#list_wrap .stamp {
    display: flex;
    align-items: end;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#list_wrap .stamp img {
    width: 100%;
    height: 160px;
}