#wrap {
}

header, footer {
    display: flex;
    margin: auto;
    width: 100%;
    background-color: aquamarine;
}

header .nav {
    display: flex;
}

#container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: palegreen;
}

.sec {
    padding: 30px;
}

footer {
    background-color: palevioletred;
}