@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* reset */
:root {
    --bg: #fffdfd;
    --text: #0c0c0c;
    --main: #4fa2c9;
    --sub: #9fe1ff;
    --highlight: #ff9e43;
    --highlight-sub: #ffbb7b;
    --sec-bg: #fafafa;
    --sec-hover-bg: #eaeaea;
    --sec-border-color: #dcdcdc;
    --border-color: #242424;
    --btn-bg: #0c0c0c;
    --btn-bg-hover: #727272;
    --btn-border-color: var(--border-color);
    --btn-border-radius: 10px;
    --btn-color: #fff;
    --btn-color-hover: #fff;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: var(--bg);
}

body, a, button, input, select, textarea {
    color: var(--text);
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
    outline: none;
}

div, h1, h2, h3, h4, h5, h6, a, p, ol, ul, li {
    margin: 0;
    padding: 0;
    color: currentColor;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

a, a:visited, a:link {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

input[type="checkbox"], input[type="submit"], button, a, label {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.blind {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

/* 스타일 가이드 */
.sec {
    padding: 50px 40px;
    min-height: 70vh;
    background-color: var(--sec-bg);
    border: 1px solid var(--sec-border-color);
    border-radius: 20px;
}

.sec_title {
    display: flex;
    padding-bottom: 10px;
    font-size: 3.2rem;
    text-align: center;
}

.sec_item {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
}

.sec_item_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--sec-border-color);
}

.sec_item_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sec_item_footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
}

.sec_title_sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn, button.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    color: var(--btn-color);
}

.btn:hover {
    background-color: var(--btn-bg-hover);
    border: 1px solid var(--btn-bg-hover);
    color: var(--btn-color-hover);
}

.btn.main {
    background-color: var(--main);
    border: 1px solid var(--main);
}

.btn.main:hover {
    background-color: var(--sub);
    border: 1px solid var(--sub);
}

.btn.highlight {
    background-color: var(--highlight);
    border: 1px solid var(--highlight);
}

.btn.highlight:hover {
    background-color: var(--highlight-sub);
    border: 1px solid var(--highlight-sub);
}

.input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--sec-border-color);
    border-radius: var(--btn-border-radius);
}

input[type="checkbox"].input {
    padding: 0;
    height: auto;
}